swagger: "2.0"
info:
  description: "Fandogh API"
  version: "1.0.0"
  title: "Fandogh API"
host: "api.fandogh.cloud"
basePath: "/api"
schemes:
- "https"
consumes:
  - "application/json"
produces:
  - "application/json"

paths:
  /tokens:
    post:
      tags:
      - "Account"
      description: "To create a new token"
      operationId: "Create Token"

      parameters:
      - in: "body"
        name: "body"
        description: "User credentials"
        required: true
        schema:
          $ref: "#/definitions/UserCredentials"

      responses:
        200:
          description: "Token and user info"
          schema:
            $ref: "#/definitions/TokenResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "Server Error, Do not rely on response body"

  /images:
    get:
      tags:
      - "Images"
      description: "To get list of images"
      operationId: "get Images"
      parameters:
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "array of images"
          schema:
            type: array
            items:
              $ref: "#/definitions/ImageModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"

    post:
      tags:
      - "Images"
      description: "To create a new image"
      operationId: "Create Image"
      parameters:
      - in: "body"
        name: "body"
        description: "Image name"
        required: true
        schema:
          $ref: "#/definitions/CreateImage"
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true

      responses:
        200:
          description: "Contains require messages"
          schema:
            $ref: "#/definitions/MessageResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"
  /images/{name}:
    delete:
      tags:
        - Images
      description: "To delete an image and all its versions and build info"
      parameters:
      - in: path
        name: name
        description: Image name
        required: true
        type: string
      responses:
        204:
          description: "Image deleted successfully"

  /images/{name}/versions:
    get:
      tags:
      - "Images"
      description: "To get list of image versions"
      operationId: "get Image Versions"
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - in: "header"
          name: "AUTHORIZATION"
          description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
          type: string
          required: true

      responses:
        200:
          description: "array of images versions"
          schema:
            type: array
            items:
              $ref: "#/definitions/ImageVersionModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        404:
          description: "Image not found"
          schema:
            $ref: "#/definitions/MessageResponse"

    post:
      tags:
      - "Images"
      description: "To create a new image version"
      operationId: "Create Image Version"
      consumes:
       - "multipart/form-data"
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: source
          in: formData
          description: project source file
          required: true
          type: file
        - name: version
          in: formData
          description: version number
          required: true
          type: string
        - in: "header"
          name: "AUTHORIZATION"
          description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
          type: string
          required: true

      responses:
        200:
          description: "Contains require messages"
          schema:
            $ref: "#/definitions/MessageResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        404:
          description: "Image not found"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"
  /images/{name}/versions/{version}/builds:
    get:
      tags:
      - "Images"
      description: "To get list of builds for an image version"
      operationId: "get Builds for an Image Version"
      produces:
      - "application/json"
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: version
          in: path
          required: true
          type: string
        - in: "header"
          name: "AUTHORIZATION"
          description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
          type: string
          required: true

      responses:
        200:
          description: "array of builds for an image version"
          schema:
            type: array
            items:
              $ref: "#/definitions/ImageVersionBuildModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        404:
          description: "Image not found"
          schema:
            $ref: "#/definitions/MessageResponse"

  /services:
    get:
      tags:
      - "Services"
      description: "To get list of services"
      operationId: "get Services"
      parameters:
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "array of services"
          schema:
            type: array
            items:
              $ref: "#/definitions/ServiceModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"

    post:
      tags:
      - "Services"
      description: "To deploy new service"
      operationId: "Deploy Service"
      parameters:
      - in: "body"
        name: "body"
        description: "Service deployment context"
        required: true
        schema:
          $ref: "#/definitions/ServiceDeploymentModel"
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true

      responses:
        200:
          description: "Contains require messages"
          schema:
            $ref: "#/definitions/MessageResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"

  /services/manifests:
    post:
      tags:
      - "Services"
      description: "To deploy new service using manifest"
      operationId: "Deploy Service Manifest"
      parameters:
      - in: "body"
        name: "body"
        description: "Service deployment context"
        required: true
        schema:
          $ref: "#/definitions/ServiceDeploymentManifestModel"
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true

      responses:
        200:
          description: "Contains require messages"
          schema:
            $ref: "#/definitions/MessageResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"

  /services/{service-name}:
    get:
      tags:
      - "Services"
      description: "To get details of a services"
      operationId: "get service"
      parameters:
      - in: "path"
        name: service-name
        required: true
        type: string
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "service has been destroyed"
          schema:
            $ref: "#/definitions/ServiceModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        404:
          description: "Service not found"
          schema:
            $ref: "#/definitions/MessageResponse"
    delete:
      tags:
      - "Services"
      description: "To destroy a services"
      operationId: "destroy Services"
      parameters:
      - in: "path"
        name: service-name
        required: true
        type: string
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "service has been destroyed"
          schema:
            $ref: "#/definitions/MessageResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        404:
          description: "Service not found"
          schema:
            $ref: "#/definitions/MessageResponse"

  /services/{service-name}/logs:
    get:
      tags:
      - "Services"
      description: "To get logs of a services"
      operationId: "get logs of a service"
      parameters:
      - in: "path"
        name: service-name
        required: true
        type: string
      - in: "query"
        name: "last_logged_time"
        required: false
        type: string
        description: "some sort of cursor on log lines"
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          $ref: '#/definitions/ServiceLogResponse'
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        404:
          description: "Service not found"
          schema:
            $ref: "#/definitions/MessageResponse"
  /managed-services:
    get:
      tags:
      - "Services"
      description: "To get list of managed services"
      operationId: "get Managed Services"
      parameters:
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "array of managed services"
          schema:
            type: array
            items:
              $ref: "#/definitions/ManagedServiceModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"

    post:
      tags:
      - "Services"
      description: "To deploy new managed service"
      operationId: "Deploy a managd Service"
      parameters:
      - in: "body"
        name: "body"
        description: "Service deployment context"
        required: true
        schema:
          $ref: "#/definitions/ManagedServiceDeploymentModel"
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true

      responses:
        200:
          description: "Contains require messages"
          schema:
            $ref: "#/definitions/MessageResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"
          
          
  /volumes:
    get:
      tags: 
      - "Volumes"
      description: "To get list of user volumes"
      operationId: "get volumes"
      parameters: 
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN], where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "array of user volumes"
          schema:
            type: array
            items:
              $ref: "#/definitions/VolumeModel"
        401:
          description: "Authorization required"
          schema:
            $ref: "#/definitions/MessageResponse"
            
    post:
      tags:
      - "Volumes"
      description: "To create a volume with name and capacity"
      operationId: "add new volume"
      parameters:
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN], where [USER-TOKEN] is user's token"
        type: string
        required: true
      - in: "body"
        name: "body"
        description: "Volume model"
        required: true
        schema:
          $ref: "#/definitions/CreateVolumeModel"

      responses:
        200:
          description: "A volume model"
          schema:
            $ref: "#/definitions/VolumeModel"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"
          
  /volumes/{volume_name}:
    delete:
      tags:
      - "Volumes"
      description: "To delete an existing volume by name"
      operationId: "delete a volume"
      parameters:
      - in: "path"
        name: "volume_name"
        required: true
        type: string
        description: "name of the volume to be deleted"
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN], where [USER-TOKEN] is user's token"
        type: string
        required: true
      
      responses:
        200:
          description: "A message from server"
          schema:
            $ref: "#/definitions/MessageResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"

  /domains:
    get:
      tags:
      - "Domains"
      description: "To get list of user domains"
      operationId: "get Domains"
      parameters:
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "array of user domains"
          schema:
            type: array
            items:
              $ref: "#/definitions/DomainModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"

    post:
      tags:
      - "Domains"
      description: "To add new domain"
      operationId: "Add domain"
      parameters:
      - in: "body"
        name: "body"
        description: "Domain object"
        required: true
        schema:
          $ref: "#/definitions/CreateDomain"
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true

      responses:
        200:
          description: "Contains require messages"
          schema:
            $ref: "#/definitions/MessageResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"

    delete:
      tags:
      - "Domains"
      description: "To delete a domain"
      operationId: "Delete domain"
      parameters:
      - in: "path"
        name: "domain_name"
        type: string
        required: true
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "Domain object deleted successfully"
          schema:
            $ref: "#/definitions/MessageResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"

  /domains/{domain_name}/verifications:
    post:
      tags:
      - "Domains"
      description: "To verify a domain"
      operationId: "Verify domain"
      parameters:
      - in: "path"
        name: "domain_name"
        type: string
        required: true
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "Domain object containing verification result"
          schema:
            $ref: "#/definitions/DomainModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        404:
          description: "Domain not found"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"

  /domains/{domain_name}/certificate:
    post:
      tags:
      - "Domains"
      description: "To request certificate for a domain"
      operationId: "Request Certificate"
      parameters:
      - in: "path"
        name: "domain_name"
        type: string
        required: true
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        201:
          description: "Request has been submitted and getting certificate is in progress "
          schema:
            $ref: "#/definitions/CertificateModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        404:
          description: "Domain not found"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"
    delete:
        tags:
        - "Domains"
        description: "To revoke a certificate for a domain"
        operationId: "Revoke Certificate"
        parameters:
        - in: "path"
          name: "domain_name"
          type: string
          required: true
        - in: "header"
          name: "AUTHORIZATION"
          description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
          type: string
          required: true
        responses:
          200:
            description: "Request has been submitted and getting certificate is in progress "
            schema:
              $ref: "#/definitions/MessageResponse"
          401:
            description: "Authentication required"
            schema:
              $ref: "#/definitions/MessageResponse"
          404:
            description: "Domain not found"
            schema:
              $ref: "#/definitions/MessageResponse"
          500:
            description: "Server Error, Do not rely on response body"
  /secrets:
    get:
      tags:
      - "Secret"
      description: "To get list of secrets"
      operationId: "List secrets"
      parameters:
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "List of secrets"
          schema:
            $ref: "#/definitions/SecretModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        500:
          description: "Server Error, Do not rely on response body"
    post:
      tags:
      - "Secret"
      description: "to create a secret"
      operationId: "Create Secret"
      parameters:
      - in: "body"
        name: "body"
        description: "Secret object"
        required: true
        schema:
          $ref: "#/definitions/CreateSecretModel"
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "Response has been created"
          schema:
            $ref: "#/definitions/MessageResponse"
        400:
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /users/namespaces/{namespace}:
    get:
      tags:
      - "Namespace"
      description: "To get namespace status"
      operationId: "Detail Services"
      parameters:
      - in: "path"
        name: namespace
        required: true
        type: string
      - in: "header"
        name: "AUTHORIZATION"
        description: "in this format: JWT [USER-TOKEN],  where [USER-TOKEN] is user's token"
        type: string
        required: true
      responses:
        200:
          description: "details of namespace"
          schema:
            $ref: "#/definitions/NamespaceModel"
        401:
          description: "Authentication required"
          schema:
            $ref: "#/definitions/MessageResponse"
        404:
          description: "Service not found"
          schema:
            $ref: "#/definitions/MessageResponse"

definitions:
  ErrorItem:
    type: object
    additionalProperties:
      type: array
      items:
        type: string
      # in form of "field name": ["error1", "error2",..]

  ErrorResponse:
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: "#/definitions/ErrorItem"
  MessageResponse:
    type: object
    properties:
      contents:
        type: object
        properties:
          message:
            type: string
  CreateImage:
    type: object
    required:
      - name
    properties:
      name:
        type: string
        pattern: "^[A-Za-z0-9-_]+$"
  ImageModel:
    type: object
    properties:
      name:
        type: string
      namespace:
        type: string
      owner:
        type: integer
      last_version:
        $ref: "#/definitions/ImageVersionModel"
      created_at:
        type: string
        format: datetime
  ImageVersionModel:
    type: object
    properties:
      version:
        type: string
      state:
        type: string
      date:
        type: string
        format: datetime
      size:
        type: integer
        format: int64
  ImageVersionBuildModel:
    type: object
    properties:
      logs:
        type: string  # possibly lots of string
      start_date:
        type: string
        format: datetime
      end_date:
        type: string
        format: datetime
      state:
        type: string

  ContainerModel:
    type: object
    properties:
      name:
        type: string
        example: "foo"
      image:
        type: string
        example: "registry.hub.docker.com/library/nginx:stable-alpine"
      ready:
        type: boolean
        example: true

  PodEventModel:
    type: object
    properties:
      message:
        type: string
      first_timestamp:
        type: string
        format: datetime
        example: '2018-09-11T09:36:22Z'
      last_timestamp:
        type: string
        format: datetime
        example: '2018-09-11T09:36:22Z'
      count:
        type: integer
        example: 1
      reason:
        type: string

  PodModel:
    type: object
    properties:
      name:
        type: string
        example: "foo-757f6849bd-4sfvf"
      created_at:
        type: string
        format: string
        example: "2018-09-11T09:36:22Z"
      containers:
        type: array
        items:
          $ref: "#/definitions/ContainerModel"
      events:
        type: array
        items:
          $ref: "#/definitions/PodEventModel"


  ServiceModel:
    type: object
    properties:
      name:
        type: string
      state:
        type: string
      service_type:
        type: string
      url:
        type: string
      urls:
        type: array
        items:
          type: string
      pods:
        type: array
        items:
          $ref: "#/definitions/PodModel"
      start_date:
        type: string
        format: datetime
      last_update:
        type: string
        format: datetime


  ServiceDeploymentModel:
    type: object
    required:
      - image_name
      - image_version
      - service_name
      - environment_variables
    properties:
      image_name:
        type: string
      image_version:
        type: string
      service_name:
        type: string
        pattern: "^[a-z]+(-*[a-z0-9]+)*$"
      environment_variables:
        type: object
        additionalProperties:
          type: string
      port:
        type: integer
        default: 80
      service_type:
        description: "Please consider using a checkbox for being internal or not"
        type: string
        default: "external"
        enum:
          - internal
          - external
  ManagedServiceModel:
    type: object
    properties:
      name:
        type: string
      options:
        type: object
        description: "available options and their description"
        additionalProperties:
          type: string
  ManagedServiceDeploymentModel:
    type: object
    required:
      - name
      - version
      - config
    properties:
      name:
        type: string
      version:
        type: string
      config:
        type: object
        description: "an object containing key=>value of config parameters"
        additionalProperties:
          type: string
  CreateDomain:
    type: object
    required:
      - name
    properties:
      name:
        type: string
        description: "a valid domain name"
  CertificateModel:
    type: object
    properties:
      id:
        type: integer
      domain_name:
        type: string
      created_at:
        type: string
        format: datetime
      details:
        type: object
        description: "contains further information for user"
  DomainModel:
    type: object
    properties:
      name:
        type: string
      verification_key:
        type: string
      verified:
        type: boolean
      certificate:
        $ref: "#/definitions/CertificateModel"
  UserCredentials:
    type: object
    required:
      - username
      - password
    properties:
      username:
        type: string
      password:
        type: string
  TokenResponse:
    type: object
    properties:
      token:
        type: string
      username:
        type: string
      email:
        type: string
      namespaces:
        type: array
        items:
          type: string
  ServiceLogResponse:
    type: object
    properties:
      last_logged_time:
        type: string
      logs:
        type: string
  ServiceDeploymentManifestModel:
    type: object
    description: "Service manifest, please refer to https://docs.fandogh.cloud/docs/service-manifest.html for manifest details"
    
  VolumeModel:
    type: object
    description: "A model to represent entities of a volume"
    properties:
      name:
        type: string
      status:
        type: string
      capacity:
        type: string
      age:
        type: string
      mounted_to:
        type: boolean
        
  CreateVolumeModel:
    type: object
    description: "A model to represent desired volume to be created"
    properties:
      name:
        type: string
      capacity:
        type: string

  SecretModel:
    type: object
    properties:
      name:
        type: string
      namespace:
        type: string
      type:
        type: string
      created_at:
        type: string
        format: datetime
  CreateSecretModel:
    type: object
    properties:
      name:
        type: string
      type:
        type: string
      fields:
        type: object
        description: "depends on type of secret"
  QuotaModel:
    type: object
    properties:
      memory_limit:
        type: integer
      cpu_limit:
        type: number
      service_limit:
        type: integer
      max_replica:
        type: integer
      pending_certificate_limit:
        type: integer
  UsedResourcesModel:
    type: object
    properties:
      service_count:
        type: integer
      memory_usage:
        type: integer
      cpu_usage:
        type: number
  NamespaceModel:
    type: object
    properties:
      name:
        type: string
      quota:
        $ref: "#/definitions/QuotaModel"
      current_used_resources:
        $ref: "#/definitions/UsedResourcesModel"
